This notebook is an update of the odds_n_results notebook to correct the misalligned odds and results.
It does the correction by scrapping one match at a time. any match with an entry missing, e.g. odds and results, is skipped.

In [1]:
#scrappers
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import SessionNotCreatedException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.chrome.options import Options
from tqdm import tqdm


#other modules
import time, re
import os, pandas as pd, numpy as np

#filter warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
#driver=webdriver.Chrome('/Users/ERIA/Library/Application Support/WebDriverManager/bin/chromedriver')
driver=webdriver.Chrome('/Users/ERIA/chromedriver')
driver.get('https://www.flashscore.com/')
driver.maximize_window()

In [3]:
#accepting cookies
time.sleep(3)
driver.find_element(By.XPATH,'//*[@id="onetrust-accept-btn-handler"]').click()

In [4]:
#click odds button
driver.find_element(By.XPATH,'//*[@id="live-table"]/div[1]/div[1]/div[3]').click()

In [5]:
#days x_paths list

day_xpaths=['//*[@id="live-table"]/div[1]/div[2]/div/div[4]/div[7]','//*[@id="live-table"]/div[1]/div[2]/div/div[4]/div[6]',
            '//*[@id="live-table"]/div[1]/div[2]/div/div[4]/div[5]','//*[@id="live-table"]/div[1]/div[2]/div/div[4]/div[4]',
            '//*[@id="live-table"]/div[1]/div[2]/div/div[4]/div[3]','//*[@id="live-table"]/div[1]/div[2]/div/div[4]/div[2]',
            '//*[@id="live-table"]/div[1]/div[2]/div/div[4]/div[1]']

In [6]:
#click date picker button
driver.find_element(By.XPATH,'//*[@id="live-table"]/div[1]/div[2]/div/div[2]').click()

#click specific day
driver.find_element(By.XPATH,day_xpaths[0]).click()
time.sleep(2)

In [7]:
#write path (file to store collected data)
write_path='/Users/ERIA/Desktop/10_9_2022.csv'
time.sleep(3)

In [8]:
matches=driver.find_elements(By.CLASS_NAME,'event__match--twoLine')

In [9]:
len(matches)

1385

In [10]:
hm_team=[]
aw_team=[]
hm_odd=[]
dw_odd=[]
aw_odd=[]
hm_sco=[]
aw_sco=[]

In [11]:
%%time
for match in matches:
    match_data=match.text.split('\n')
    if len(match_data)!=8:
        continue
    else:
        hm_team.append(match_data[1])
        aw_team.append(match_data[2])
        hm_odd.append(match_data[5])
        dw_odd.append(match_data[6])
        aw_odd.append(match_data[7])
        hm_sco.append(match_data[3])
        aw_sco.append(match_data[4])

CPU times: user 1.58 s, sys: 108 ms, total: 1.69 s
Wall time: 54.1 s

In [12]:
df=pd.DataFrame(data={'hm_team':hm_team,'aw_team':aw_team,'hm_odd':hm_odd,'dw_odd':dw_odd,'aw_odd':aw_odd,'hm_sco':hm_sco,'aw_sco':aw_sco})
df

,hm_team,aw_team,hm_odd,dw_odd,aw_odd,hm_sco,aw_sco
0,Paris SG,Brest,1.09,13.70,26.00,1,0
1,Marseille,Lille,2.05,3.66,3.68,2,1
2,Bayern Munich,Stuttgart,1.23,6.79,13.30,2,2
3,Eintracht Frankfurt,Wolfsburg,1.89,3.83,4.13,0,1
4,Hertha Berlin,Bayer Leverkusen,4.07,3.88,1.89,2,2
...,...,...,...,...,...,...,...
1176,Power Dynamos,FC Muza,1.64,2.75,8.50,0,0
1177,Bulawayo City FC,Cranborne Bullets,-,-,-,1,2
1178,Harare City,ZPC Kariba,-,-,-,0,0
1179,Ngezi Platinum,Bulawayo Chiefs,-,-,-,1,0
1180,Whawha,Platinum,-,-,-,1,2

In [13]:
lists=[hm_team,aw_team,hm_odd,dw_odd,aw_odd,hm_sco,aw_sco]

In [14]:
df.to_csv(write_path)

In [15]:
df[df.hm_team=='Monza']

Empty DataFrame
Columns: [hm_team, aw_team, hm_odd, dw_odd, aw_odd, hm_sco, aw_sco]
Index: []